<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--DEV-->
    <add name="JSConnectionString" connectionString="Server=JKDEV01;Database=masterplan;User Id=masterplandev;
        Password=uijkui78!;"/>
    
    <!--PROD-->
    <!--<add name="JSConnectionString" connectionString="Server=JKDEV01;Database=masterplan_prod;User Id=masterplanprod;
        Password=uijkui78!;"/>-->
  </connectionStrings>
  
</configuration>